:root {
	--creamy: #cccccc;
	--black: #171717;
	--black-pure: #000000;
	--black-light-1: #222222; 
	--black-light-2: #181818; 
	--grey: #303030;
	--purple-light: #7b78bd;
	--lavender: #c1c6ff;
	--lavender-dark: #53536f;	
}

body * {
	font-family: 'Lucida Console', 'Courier', monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	color: var(--creamy);
}

body {
	background-color: var(--grey);
	padding-bottom: 20px;
	text-align: center;
}

h1 {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.buttons-container {
	display: flex;
	justify-content: space-around;	
	vertical-align: middle;
}

.button {
	display: inline-flex;
	align-items: center;
	justify-content: space-around;
	text-decoration: none;
	border: none;
	border-radius: 5px;
	background-color: var(--black-light-1);
	cursor: pointer;
	padding: 8px;
	font-weight: bold;
}

.b-bright {
	background-color: var(--lavender);
	color: var(--black);
}

.b-big {
	margin: 5px 10px;
	font-size: 16px;
}

.button:hover {
	box-shadow: 0 0 10px 3px var(--purple-light);
}

#top-bar {
	z-index: 100;
	position: fixed;
	left: 0;
	top: 0;
	height: 45px;
	width: 100%;
	background-color: var(--black-pure);
	display: flex; 
	justify-content: center;
	align-items: center;
}

.log-container {
	min-width: 100px;
	height: 35px;
	margin: 0 20px;
	padding: 0 15px;
	display: flex;
	justify-content: center;
	border: none;
	border-radius: 15px;
	align-items: center;
	background-color: var(--black-light-1);
}

.lc-bright, .lc-bright span {
	background-color: var(--lavender);
	color: var(--black);
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	color: var(--lavender-dark);
}

.vertical-space {
	height: 10px;
}

.horizontal-space {
	width: 8px;
}

.table {
	margin: 20px auto;
	display: table;
	padding: 10px 5px;
	border-collapse: collapse;
}

.row {
	display: table-row;
}

.cell {
	display: table-cell;
	text-align: left;
	white-space: nowrap;
	padding: 6px;
	vertical-align: middle;
	border: 1px solid var(--lavender-dark);
	background-color: var(--black);
}

.c-header {
	text-align: center;
	font-weight: bold;
}

#show-panel-button {
	z-index: 100;
	position: fixed;
	top: 50%;
	right: 20px;
	font-size: 22px;
	background-color: var(--black-pure);
	display: none;
}

.panel {
	z-index: 10;
	background-color: var(--black-pure);	
	border-radius: 5px;
	text-align: center;
	box-shadow: 0 0 5px 2px var(--black);
	padding: 10px;
}

.p-side {
	position: fixed;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	padding-left: 15px;
}

.p-center-small {
	position: fixed;
	display: inline-block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.p-center-large {
	display: inline-block;
	padding: 10px;
	min-width: 600px;
	min-height: 220px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
}

.grid {
	display: grid;
	grid-template-columns: auto 200px;
	grid-auto-rows: 30px;
	grid-column-gap: 5px;
	grid-row-gap: 7px;
}

.grid span {
	display: flex;
	align-items: center;
}

.grid div {
	align-items: left;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="checkbox"]:hover {
	outline: none;
	box-shadow: 0 0 5px 2px var(--purple-light);
	background-color: var(--black-light-1);
}

.uuid-field {
	width: 320px;
	text-align: center;
}

.text-only-container {
	max-width: 560px;
	padding: 10px;
	text-align: left;
}

input {
	background-color: var(--black-light-2);
	border: 1px solid var(--black-pure);
	border-radius: 5px;
	padding: 2px;
}

input[type="checkbox"] {
	appearance: none;
	width: 24px;
	margin-left: 0;
	border: 1px solid var(--black-pure);
	border-radius: 5px;
	background-color: var(--black-light-1);
	padding: 2px;
}

input[type="checkbox"]:checked {
	background-color: var(--lavender);
}

#response-box { 
	z-index: 20;
	position: fixed;
	background-color: var(--black-pure);
	border: 1px solid var(--purple-light);
	border-radius: 5px;
	box-shadow: 0 0 5px 2px var(--purple-light);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	text-align: center;
}

#page-nav-container {
	min-width: 400px;
	max-width: 500px;
	display: flex;
	justify-content: space-around;
	margin: 40px auto 0;
	padding: 10px;
	border: 1px solid var(--purple-light);
	border-radius: 15px;
}

#editor {
	position: relative;
	width: 1100px;
	max-width: 1100px;
	min-width: 1100px;
	height: 730px;
	min-height: 730px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	font-size: 14px !important;
	direction:ltr !important;
	text-align:left !important;
	font-style: normal;
	font-variant-caps: normal;
	font-weight: normal;
	font-stretch: normal;
	line-height: normal;
	font-family: 'Lucida Console', 'Courier', monospace !important;
	font-size-adjust: none;
	font-kerning: auto;
	font-optical-sizing: auto;
	font-variant-alternates: normal;
	font-variant-east-asian: normal;
	font-variant-ligatures: normal;
	font-variant-numeric: normal;
	font-variant-position: normal;
	font-language-override: normal;
	font-feature-settings: normal;
	font-variation-settings: normal;
	border-radius: 5px;
	box-shadow: 0 0 5px 2px var(--black);
	padding: 10px;
}
